/* BlackScholesForm.css */

/* Style the form container */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #900C3F;
    color: white;
    height: auto;
}

/* Style labels */
label {
    display: block;
    margin-bottom: 5px;
}

/* Style input fields */
input[type="number"] {
    width: 50%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}


button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}


button[type="submit"]:hover {
    background-color: #0056b3;
}