.options-price {
    font-size: 0.5em;
    color: white;
    margin-top: 10px;
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #4477CE
}

.options-price span {
    font-weight: bold;
}